<form action="/Article">
    <input type="text" placeholder="Question Title">
    <input type="text" name="Banger" placeholder="Author">
    <textarea name="Article" cols="30" rows="10"></textarea>
</form>