<aside>
    <ul>
        <li><a href="">Home</a></li>
        <li><a href="">Ultimate Bangers</a></li>
        <li><a href="">Pure Content</a></li>
        <li><a href="">Pure Craft</a></li>
        <li><a href="">Spiritual</a></li>
        <li><a href="">Worth a Debate</a></li>
        <li><a href="">Account</a></li>
    </ul>
</aside>