<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./stylesheets/register.css">
</head>
<body>
    <div id="form">
        <form action="/signin" method = "POST">
            <input type="email" placeholder="Email Address" name = "email">
            <input type="password" placeholder="Password" name = "password">
            <button type="submit">REGISTER</button>
        </form>
    </div>
    <div id="otherOptions">
        <p>Don't have an account? <a href="/signup">sign up</a></p>
    </div>
</body>
</html>